@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Raleway&display=swap");

/* ------- Universal Classes ------- */
html {
  scroll-behavior: smooth !important;
}

.bg-none {
  background: none !important;
}

.bg-yellow {
  background-color: #ffaf40 !important;
}

.bg-dark {
  background-color: #4b4b4b !important;
}

.text-dark {
  color: #4b4b4b !important;
}

.bg-gray {
  background-color: rgba(0, 0, 0, 0.03) !important;
}

.text-yellow {
  color: #ffaf40 !important;
}

.my-btn-primary {
  text-decoration: none !important;
  background: #ffaf40 !important;
  color: #4b4b4b !important;
  padding: 10px 20px 10px 20px !important;
  font-weight: 600 !important;
  border: none !important;
  border-radius: 0 !important;
  font-family: "Montserrat Alternates", sans-serif !important;
}

.my-btn-primary:hover {
  background: #ffa21f !important;
  transition: all 0.3s ease-in-out;
}

.my-btn-secondary {
  text-decoration: none !important;
  background: #4b4b4b !important;
  color: #ffaf40 !important;
  padding: 10px 20px 10px 20px !important;
  font-weight: 600 !important;
  border: none !important;
  font-family: "Montserrat Alternates", sans-serif !important;
}

.my-btn-secondary:hover {
  background: #3d3d3d !important;
  transition: all 0.3s ease-in-out;
}

.card-overlay {
  background: #00000030 !important;
  font-family: "Montserrat Alternates", sans-serif !important;
}

.title {
  color: #4b4b4b !important;
  font-style: italic !important;
  font-weight: 700 !important;
  font-family: "Raleway", sans-serif;
}

.fa-star,
.fa-star-half-alt {
  color: #fcd600 !important;
}

/* ------- Navigation style ------- */

.navbar {
  background: #ffaf40 !important;
}

.navbar-brand {
  font-family: "Montserrat Alternates", sans-serif !important;
}
.navbar-collapse .nav-link {
  position: relative !important;
  color: #4b4b4b !important;
  margin-left: 5px !important;
  font-family: "Montserrat Alternates", sans-serif;
}

.navbar-collapse .nav-link:hover,
.navbar-collapse .nav-link:focus,
.navbar-collapse .active {
  color: #ffffff !important;
}

@media (min-width: 992px) {
  .navbar-collapse .nav-link:hover::before,
  .navbar-collapse .nav-link:focus::before,
  .navbar-collapse .active::before {
    visibility: visible !important;
    transform-origin: right !important;
    transform: scaleX(1) !important;
  }

  .navbar-collapse .nav-link::before {
    content: "";
    position: absolute;
    width: 86%;
    height: 3px;
    bottom: 8px;
    left: 7%;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left !important;
    transition: all 0.3s ease-in-out !important;
    background-color: #ffffff;
  }
}

.navbar-link {
  text-decoration: none !important;
  color: #4b4b4b !important;
  transition: all 0.3s;
  font-family: "Montserrat Alternates", sans-serif;
}

.navbar-link:hover {
  color: #ffffff !important;
}

.navbar-link:hover .my-badge {
  background-color: #ffffff !important;
  color: #4b4b4b !important;
  transition: all 0.3s;
}

.fa-shopping-cart {
  position: relative !important;
  font-size: 18px !important;
  font-family: secondary-font;
}

.my-badge {
  position: absolute !important;
  background-color: #4b4b4b !important;
  color: #ffffff !important;
  width: 18px !important;
  height: 18px !important;
  border-radius: 50% !important;
  line-height: 18px !important;
  font-size: 12px !important;
  top: -12px;
  right: -10px;
  text-align: center !important;
  font-family: "Montserrat Alternates", sans-serif !important;
}

.fa-user-circle {
  font-size: 24px;
}

/* ------- Section 1 style ------- */

.front-section {
  height: 92vh !important;
  background-image: url("../images/drone.jpg");
  background-position: center;
}

.slide-down-arrow {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  color: #ffffff;
  font-size: 32px;
  transform: translateX(-50%);
}

.slide-down-arrow:hover {
  color: #d3d3d3 !important;
}

/*  */

.owl-carousel {
  position: unset !important;
}

.owl-carousel .card-body {
  color: #4b4b4b !important;
  text-align: center !important;
}

.carousel-nav {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  -webkit-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -o-transform: translateY(-50%) !important;
  cursor: pointer !important;
  padding: 5px !important;
}

.carousel-nav i {
  color: #7a7a7a;
  transition: all 0.3s ease;
  font-size: 24px;
}

.carousel-nav:hover i {
  color: #222222;
}

.carousel-prev {
  left: 20px;
}

.carousel-next {
  right: 20px;
}

.testimonial-wrap {
  background: #4b4b4b !important;
}

#testimonial .fas {
  color: #f3f3f3;
}

#testimonial .card {
  border: 1px solid #f3f3f3;
}

#testimonial + .carousel-nav i,
#testimonial + .carousel-nav + .carousel-nav i {
  color: #d3d3d3;
  transition: all 0.3s ease;
}

#testimonial + .carousel-nav:hover i,
#testimonial + .carousel-nav + .carousel-nav:hover i {
  color: #f3f3f3;
}

.footer-nav .navbar-nav .nav-item,
.footer-nav .navbar-nav .nav-link {
  color: #4b4b4b !important;
  display: inline-block !important;
}

.footer-nav .navbar-nav > .nav-item > .nav-link:hover {
  color: #000000 !important;
  /* font-weight: 600 !important; */
  transition: all 0.3s ease-in-out !important;
  text-shadow: 0px 0px 5px #ff9a0c !important ;
}

.footer-nav .navbar-nav .social-link .fab {
  font-size: 24px;
  color: #4b4b4b;
}

.footer-nav .navbar-nav .social-link .fa-facebook:hover {
  color: #3b5998 !important;
}

.footer-nav .navbar-nav .social-link .fa-twitter:hover {
  color: #08a0e9 !important;
}

.footer-nav .navbar-nav .social-link .fa-youtube:hover {
  color: #e62117 !important;
}

/* ---- All Products Page ---- */

.pg-cover-title {
  background: #4b4b4b !important;
}

.pg-cover-title .display-3 {
  color: #ffaf40 !important;
}

.filter-section .accordion .btn {
  position: relative !important;
}

.filter-section .accordion .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.filter-section .accordion .card .card-body .navbar-nav .nav-item .nav-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #4b4b4b !important;
}

.filter-section
  .accordion
  .card
  .card-body
  .navbar-nav
  .nav-item
  .nav-link:hover,
.filter-section
  .accordion
  .card
  .card-body
  .navbar-nav
  .nav-item
  .nav-link:focus,
.filter-section
  .accordion
  .card
  .card-body
  .navbar-nav
  .nav-item
  .nav-link.active {
  color: #ff9a0c !important;
}

.filter-section .fas {
  position: absolute !important;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.filter-section .accordion .card .card-body .form-group .price-slider,
#priceDropdown .price-slider {
  position: relative !important;
}

.filter-section
  .accordion
  .card
  .card-body
  .form-group
  .price-slider
  #showPrice2,
#priceDropdown .price-slider #showPrice1 {
  position: absolute !important;
  right: 0 !important;
}

/* .filter-section
  .accordion
  .card
  .card-body
  .form-group
  .price-slider
  .form-control-range::-webkit-slider-runnable-track {
  background: rgb(75, 75, 75) !important;
  border-radius: 10px !important;
} */

.filter-section
  .accordion
  .card
  .card-body
  .form-group
  .price-slider
  .form-control-range::-webkit-slider-thumb {
  background: #ffa21f !important;
}

.products-section .card-columns .card .card-header,
.items-carousel .card .card-header {
  position: relative !important;
}

.products-section .card-columns .card .card-header .preview-trigger-container,
.items-carousel .card .card-header .preview-trigger-container {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  visibility: hidden !important;
}

.products-section .card-columns .card .card-header .preview-trigger-container a,
.items-carousel .card .card-header .preview-trigger-container a {
  font-size: 48px !important;
  color: #ffffff !important;
}

/* .products-section .card-columns .card .card-header:hover .card-img-top {
  opacity: 0.9 !important;
} */

.products-section
  .card-columns
  .card
  .card-header:hover
  .preview-trigger-container,
.items-carousel .card .card-header:hover .preview-trigger-container {
  visibility: visible !important;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 0px) {
  .display-3 {
    font-size: 32px !important;
  }

  .display-4 {
    font-size: 24px !important;
  }
}

@media (min-width: 576px) {
  .display-3 {
    font-size: 46px !important;
  }

  .display-4 {
    font-size: 32px !important;
  }

  .card-columns {
    column-count: 2 !important;
  }
}

@media (min-width: 768px) {
  .display-3 {
    font-size: 52px !important;
  }

  .display-4 {
    font-size: 38px !important;
  }
  .card-columns {
    column-count: 3 !important;
  }
}

@media (min-width: 992px) {
  .display-3 {
    font-size: 64px !important;
  }

  .display-4 {
    font-size: 44px !important;
  }

  .card-columns {
    column-count: 4 !important;
  }
}
